

*
{
    box-sizing: border-box;
}
body
{
    background-color: #808080;
    color: #344D2B;
    font-family: Arial, Helvetica, san-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
    margin: 0;
    overflow: hidden;

}

h1
{
    margin: 20px 0 0;
}

.game-container
{
    padding: 20px 30px;
    position: relative;
    

}
.figure-container
{
    fill: transparent;
    stroke: #344D2B;
    stroke-width: 4px;
    stroke-linecap: round;
}
.figure-part
{
    display: none;
}